body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    min-height: 600px;
}
.top-section {
    display: flex;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.side-by-side {
    width: 40%;
    padding-left: 7%;
}
.right-side {
    background-image: url(images/anirban-bg.PNG);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: right;
    padding-left: 10%;
}
.left-side {
    background-image: url(images/my-bg2.jpg);
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: left;
    padding: 5%;
    margin-left: 7%;
    height: 600px;
    float: left;
}
.dream {
    overflow: hidden;
    padding-top: 7%;
    width: 40%;
    height: 600px;
}
h1{
    font-size: 50px;
}
.hire-btn {
    padding: 10px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
}
